<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message">
	
<insert id="insertMessage">
insert into message values(seq_message_no.nextval,'${messageContent}',default,'${sendEmail}','${receiveEmail}',default)
</insert>
	
<select id="selectMessageList" resultType="message">
	select messageno,messagecontent,readyn,sendemail,receiveemail,to_char(messagedate,'mm-dd hh24:mi:ss') as messagedate from message where receiveEmail = #{email} order by messageDate desc
</select>

<select id="totalMessageCount" resultType="_int">
	select count(*)as cnt from message where receiveEmail = #{email}
</select>
	
<insert id="insertMessage2">
insert into message values(seq_message_no.nextval,'${messageContent}',default,'${sendEmail}','${receiveEmail}',default)
</insert>

<select id="selectContent"  resultType="java.lang.String">
	select messageContent from message where messageNo = #{messageNo}
</select>

<select id="selectMessageList2" resultType="message">
	select messageno,messagecontent,readyn,sendemail,receiveemail,to_char(messagedate,'mm-dd hh24:mi:ss') as messagedate from message where sendEmail = #{email} order by messageDate desc
</select>

<select id="totalMessageCount2" resultType="_int">
	select count(*)as cnt from message where sendEmail = #{email}
</select>

<select id="selectMessageList3" resultType="message">
	select messageno,messagecontent,readyn,sendemail,receiveemail,to_char(messagedate,'mm-dd hh24:mi:ss') as messagedate from message where receiveEmail = #{email} and messageContent like '%'||#{messageSelect}||'%' or sendEmail like '%'||#{messageSelect}||'%'  order by messageDate desc
</select>
<select id="totalMessageCount3" resultType="_int">
	select count(*)as cnt from message where receiveEmail = #{email} and messageContent like '%'||#{messageSelect}||'%' or sendEmail like '%'||#{messageSelect}||'%'
</select>

<select id="selectMessageList4" resultType="message">
	select messageno,messagecontent,readyn,sendemail,receiveemail,to_char(messagedate,'mm-dd hh24:mi:ss') as messagedate from message where sendEmail = #{email} and messageContent like '%'||#{messageSelect}||'%' or receiveEmail like '%'||#{messageSelect}||'%' order by messageDate desc
</select>
<select id="totalMessageCount4" resultType="_int">
	select count(*)as cnt from message where sendEmail = #{email} and messageContent like '%'||#{messageSelect}||'%' or receiveEmail like '%'||#{messageSelect}||'%'
</select>

<update id="readyn">
 update message set readyn = 'Y' where messageNo = #{messageNo}
</update>

<select id="selectMessageList5" resultType="message">
	select messageno,messagecontent,readyn,sendemail,receiveemail,to_char(messagedate,'mm-dd hh24:mi:ss') as messagedate from message where receiveEmail = #{email} and readyn ='Y' order by messageDate desc
</select>
<select id="totalMessageCount5" resultType="_int">
	select count(*)as cnt from message where receiveEmail = #{email} and readyn ='Y' 
</select>
<select id="imagereadyn" resultType="_int">
	select count(*)as cnt from message where receiveEmail = #{email} and readyn ='N' 
</select>


</mapper>
