<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message">
	
<insert id="insertMessage">
insert into message values(seq_message_no.nextval,'${messageContent}',default,'${sendEmail}','${receiveEmail}')
</insert>
	
<select id="selectMessageList" resultType="message">
	select * from message where receiveEmail = #{email}
</select>

<select id="totalMessageCount" resultType="_int">
	select count(*)as cnt from message where receiveEmail = #{email}
</select>
	
</mapper>
