@charset "UTF-8";


/**************************** header ****************************/
body{
	user-select: none;
}
div#nav a, div#nav a:link, div#nav a:visited, div#nav a:active, div#nav a:hover{
	text-decoration: none;
	color: black;
}

div#nav{
	width: 110%;
    height: 60px;
    padding: 5px 20% 0;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    position: fixed;
    left: -5%;
    top: -5px;
}
div#nav div{
	display: inline-block;
	width: 30%;
	font-family: 'Do Hyeon', sans-serif;
	position: relative;
   	box-sizing: border-box;
   	color: black;
}
div#nav div#nav-menu{
	text-align: left;
	padding-left: 20px;
}
div#nav div#nav-title{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
    padding-left: 10%;
}
div#nav div#nav-login{
	width: 37%;
	text-align: right;
	padding-right: 20px;
}
div#nav div#nav-login img{
	width: 35px;
    /* top: 5px; */
    position: relative;
}
div#nav div#nav-menu img{
	width: 20px;
    /* top: 5px; */
    position: relative;
}
.menu-click:hover, .profile-click:hover{
	cursor: pointer;
}
div#nav div#menu-click-div{
	display: none;
	width: 170px;
	background: rgba(255,255,255,0.8); 
    position: fixed;
    top: 55px;
    left: 15.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
div#nav div#profile-click-div{
	display: none;
	width: 160px;
	background: rgba(255,255,255,0.8); 
    position: fixed;
    top: 55px;
    right: 17%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
div#profile-click-div hr{
	border: 0.5px dashed gray;
}

/**************************** content-container ****************************/
div#content-container{
	margin: 55px auto 0;
	width: 70%;
	min-height: 900px;
	box-sizing: border-box;
}

/**************************** footer ****************************/
div#footer{
	margin: 0 auto;
	width: 110%;
	box-sizing: border-box;
    padding: 20px 5%;
    box-shadow: 0px 15px 80px lightgrey;
}
div#footer p{
    text-align: right;
    width: 80%;
    box-sizing: border-box;
    padding-left: 10%;
}
div#footer span#help a{
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    color: gray;
}
button#messageToAdmin img{
	width: 25px;
}
div#footer a, div#footer a:link, div#footer a:visited, div#footer a:active, div#footer a:hover{
	text-decoration: none;
	color: black;
}
div#footer p#copyright{
	text-align: left;
	color: gray;
	font-size: 0.8em;
}

/**************************** 반응형 ****************************/
@media ( max-width: 1300px ){
	div#nav span.menu-click{
		display: none;
	}
}
@media ( max-width: 900px ){
	div#nav span{
		display: none;
	}
	div#nav{
		padding: 5px 10%;
	}
	div#nav div#nav-login{
		width: 30%;
	}
	div#nav-login img{ 
		right: -40%;
	}
	div#nav div#menu-click-div {
    	left: 6%;
	}
	div#nav div#profile-click-div {
    	right: 5%;
	}
	div#content-container{
		width: 90%;
	}
	div#footer p{
		width: 90%;
		padding-left: 10px;
	}
	button#messageToAdmin{
		width: 52px;
	}
	button#messageToAdmin span{
		display: none;
	}
}