@charset "UTF-8";


/**************************** project_list ****************************/
div.index-project{
    margin-top: 50px;
    text-align: center;
}
div.index-project p.title{
	font-size: 1.5em;
	font-family: 'Do Hyeon', sans-serif;	
}
div.project{
	width: 240px;
	border: 1.5px solid #eaeaea;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
	margin: 0 10px;
	text-align: left;
}
div.project:hover{
	position: relative;
    top: -3px;
    left: -3px;
    box-shadow: 5px 5px 15px lightgrey;
    pointer: cursor;
}
div.project img{
	width: 240px;
	height: 180px;
}
div.project div.project-img{
	background: lightgray;
	width: 240px;
	height: 180px;
	text-align: center;
}
div.project div.project-img img{
	width: 100px;
	height: 100px;
    margin-top: 40px;
}
div.project div.summary{
	height: 150px;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}
div.project div.summary p:first-of-type{
	font-weight: bold;
}
div.project div.summary p:last-of-type{
    font-size: 11px;
    margin-top: -10px;
}
div.project div.summary div.progress{
    width: 95%;
    height: 5%;    
    position: absolute;
    bottom: 45px;
    left: 2.5%;
}
div.project div.summary div.days {
	display: inline-block;
	float: left;
	font-size: 11px;
    position: absolute;
    bottom: 13px;
}
div.project div.summary div.days img{
    width: 15px;
    height: 15px;
    margin-top: -3px;
}
div.project div.summary div.support{
	display: inline-block;
	float: right;
	font-size: 11px;
    position: absolute;
    bottom: 13px;
    right: 10px;
}
div.project div.summary div.support img{
    width: 15px;
    height: 15px;
    margin-top: -3px;
}
div.project div.summary span.no-project{
	font-weight: normal;
    margin-top: 0;
	font-size: 13px;
	color: red;
	
}
@media (max-width: 1070px){
	div.project{
		width: 200px;
	}
	div.project img{
		width: 200px;
		height: 140px;
	}
	div.project div.project-img{
		width: 200px;
		height: 140px;
	}
	div.project div.project-img img{
		width: 80px;
		height: 80px;
		margin-top: 30px;
	}
	div.project div.summary{
		padding: 8px;
	}
	div.project div.summary div.progress{
	    width: 95%;
	    height: 3%;
        bottom: 38px;
	}
}
@media (max-width: 925px){

}