<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gift">

	
	
	<select id="selectMyGiftList" resultType="gift">
		select a.supportno, a.email as myemail, a.projectno, b.address, nvl(b.postnum,'등록안됨') postnum,
			(select  to_char(calculateduedate + 2,'YYYY-MM-dd') from project_funding d where a.PROJECTNO = d.projectno) as "deliveryduedate",
			(select projecttitle from project_outline e where a.projectno = e.projectno ) as "projecttitle",
			(select email from project_outline f where a.projectno = f.projectno) as "projectwriter",
 			b.ITEMNAME,
 			b.ITEMNUM,
 			b.deliveryyn
		from support a 
		join delivery b on a.supportno = b.supportno
		join project_deadline g on a.projectno = g.projectno
		where a.email = #{email}
		<if test = "searchType eq 'All'">
		and 1=1
		</if>
	<if test = "searchType != null and searchType != ''" >	
		<if test = "searchType eq 'deliveryBefore'">
			and to_date(sysdate,'YYYY-MM-dd')
		 	<![CDATA[-]]>
			(select  to_date(calculateduedate + 2,'YYYY-MM-dd') from project_funding h where a.PROJECTNO = h.projectno)  <![CDATA[<]]> 0
		</if>
		<if test = "searchType eq 'deliveryAfter'">
			and to_date(sysdate,'YYYY-MM-dd')
			<![CDATA[-]]>
			(select  to_date(calculateduedate + 2,'YYYY-MM-dd') from project_funding i where a.PROJECTNO = i.projectno)  <![CDATA[>=]]> 0
		</if>
	</if>
	and g.SUCCESSYN = 'Y'
	and a.PAYYN='Y'
	order by deliveryduedate
	 
	</select>
	
	<update id="updateDeliveryAddr">
	update delivery set postnum = #{postNum}, address = #{address} where supportno = #{supportNo}
	</update>
	
		
	
	
</mapper>
