<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">
	
	<select id="selectIndexProject" resultType="project_outline">
	select * from project_outline where projectconfirmyn='Y' and projectindexyn='Y' and projectdeadlineyn='N'
	</select>
	
	<select id="selectIndexNewProject" resultType="list_project_view">
	<![CDATA[
		select p.projectno, p.projectimage, p.projecttitle, 
	        (select name from member m where p.email = m.email) name,
	        (select trunc(deadlinedate - sysdate) from project_funding f where p.projectno = f.projectno) deadlineday,
	        s.supportmoney, s.supportpercent
		from (select * from project_outline where projectconfirmyn='Y' and projectdeadlineyn='N' order by projectdate desc) p join project_summary s on p.projectno = s.projectno
		 where rownum <= 3
	 ]]>
	</select>
	
	<select id="selectIndexDeadlineProject" resultType="list_project_view">
	<![CDATA[
	select *
	from
		(select p.projectno, p.projecttitle, p.projectimage,
	        (select name from member m where p.email = m.email) name,
	        (select trunc(deadlinedate - sysdate) from project_funding f where p.projectno = f.projectno) deadlineday,
	        s.supportmoney, s.supportpercent
		from (select * from project_outline where projectconfirmyn='Y' and projectdeadlineyn='N' order by projectdate desc) p join project_summary s on p.projectno = s.projectno
		order by deadlineday)
	where rownum <= 3
	 ]]>
	</select>
	
</mapper>
