<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selectMemberCnt" resultType="_int">
	select count(*) from member where email = #{email}
	</select>
	
	<update id="updateMemberPwd">
	update member set password = #{password} where email = #{email}
	</update>
	
	<!-- 김효정  -->
	<select id="selectMember" resultMap="memberMap">
		select * from member where email=#{email}
	</select>
	<resultMap type="member" id="memberMap">
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="newsyn" property="newsyn"/>
		<result column="adminyn" property="adminyn"/>
		<result column="enrolldate" property="enrollDate"/>
	</resultMap>
	
	<update id="updateMember">
	update member set newsyn= #{newsyn} where email=#{email}
	</update>
	
	<update id="updateProfile">
	update profile set profileimage=#{profileImage}, profileintroduce=#{profileIntroduce}, localcode=#{localCode},phone=#{phone} where email=#{email}
	</update>
	
	<insert id="insertMember">
	insert into member values(#{Email},#{Password},#{Name},'Y','N',default,'N')
	</insert>
	
	
	<select id="checkEmailDuplicate" resultType="_int">
	select count(*) from member where email = #{email}
	</select>
	
	<select id="selectMemberByEmail" resultMap="memberMap">
	select * from member where email = #{email}
	</select>
		<resultMap type="com.kh.fundit.member.model.vo.Member" id="memberMap">
		<result column="email" property="Email" />
		<result column="password" property="Password" />
		<result column="name" property="Name" />
		<result column="newsyn" property="Newsyn" />
		<result column="adminyn" property="Adminyn" />
		<result column="enrolldate" property="enrollDate" />
		<result column="naveryn" property="Naveryn" />
	</resultMap>
	
</mapper>
