<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<resultMap type="member" id="memberMap">
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="newsyn" property="newsyn"/>
		<result column="adminyn" property="adminyn"/>
		<result column="enrolldate" property="enrollDate"/>
		<result column="enrolldate" property="naveryn"/>
	</resultMap>
	
	<select id="selectMemberCnt" resultType="_int">
	select count(*) from member where email = #{email}
	</select>
	
	<update id="updateMemberPwd">
	update member set password = #{password} where email = #{email}
	</update>
	
 	<select id="selectMember" resultMap="memberMap">
		select * from member where email=#{email}
	</select>
	
	<update id="updateMember">
	update member set newsyn= #{newsyn} where email=#{email}
	</update>
	
	<update id="updateProfile">
	update profile set profileimage=#{profileImage}, profileintroduce=#{profileIntroduce}, localcode=#{localCode},phone=#{phone} where email=#{email}
	</update>
	
	<insert id="insertMember">
	insert into member values(#{email},#{password},#{name},default,default,default,default)
	</insert>
	
	
	<select id="checkEmailDuplicate" resultType="_int">
	select count(*) from member where email = #{email}
	</select>
	
	<select id="selectMemberByEmail" resultMap="memberMap">
	select * from member where email = #{email}
	</select>
		
    <resultMap type="profile" id="profileMap">
      <result column="email" property="email"/>
      <result column="profileimage" property="profileImage"/>
      <result column="profileintroduce" property="profileIntroduce"/>
      <result column="localcode" property="localCode"/>
      <result column="localname" property="localName"/>
      <result column="phone" property="phone"/>
   </resultMap>
   
   <select id="selectProfile" resultMap="profileMap">
   select * from profile where email = #{email}
   </select>
   
   <select id="selectNaverByEmail" resultMap="memberMap">
   select * from member where email = #{email}
   </select>
      
   <insert id="insertNaver">
   insert into member values('${naverEmail}',null,'${naverName}',default,default,default,'Y')
   </insert>
	
	<select id="selectProfileImg" resultType = "String">
	select profileimage from profile where email = #{email}
	</select>
	
	<select id="selectSupportList" resultMap = "supportMap">
	
	select projectno, a.supportno, (a.minmoney+a.addmoney) as "mysupportmoney", b.supportgoal, trunc(b.deadlinedate - sysdate) as "deadlinedate", c.email as "projectwriter", c.projecttitle, c.projectimage, d.supportpercent, (select itemname from item aa where aa.itemno = e.itemno ) as "itemname"
	from support a 
	join PROJECT_FUNDING b using (projectno)
	join project_outline c using(projectno)
	join project_summary d using(projectno)
	join project_gift e using(projectno)
	where 1=1
	and a.email = #{email}
	<if test = "searchType != null and searchType != ''" >
		<if test ="searchType eq 'selectAll'">
		 and 1=1
		</if>
		<if test ="searchType eq 'searchOnGoing'">
		 and a.payyn is null
		</if>
		<if test ="searchType eq ' searchComplated'">
		 and a.payyn = 'Y'
		</if>
	</if>
	<if test="searchKeyword != null and searchKeyword != ''">
		 and (a.payyn = 'Y') and
		 	(
		 	  (itemname like '%'||#{searchKeyword}||'%') 
		 	  or 
		 	  ( (select itemname from item aa where aa.itemno = e.itemno ) like '%'||#{searchKeyword}||'%')
		 	  or( c.projecttitle like '%'||#{searchKeyword}||'%')
		    ) 
	</if>
	order by a.supportno
	</select>
	
	<resultMap type="support" id="supportMap">
      <result column="projectno" property="projectNo"/>
      <result column="supportno" property="supportNo"/>
      <result column="mysupportmoney" property="mySupportMoney"/>
      <result column="supportgoal" property="supportGoal"/>
      <result column="deadlinedate" property="deadlineDate"/>
      <result column="projectwriter" property="projectWriter"/>
      <result column="projecttitle" property="projectTitle"/>
      <result column="deadlinddate" property="deadlindDate"/>
      <result column="projectimage" property="projectImage"/>
      <result column="supportpercent" property="supportPercent"/>
      <result column="itemname" property="itemName"/>
   </resultMap>
	
	
</mapper>
